@model EVrtic.Models.Obavijest

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Obavijest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naslov" class="control-label"></label>
                <input asp-for="Naslov" class="form-control" />
                <span asp-validation-for="Naslov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sadrzaj" class="control-label"></label>
                <input asp-for="Sadrzaj" class="form-control" />
                <span asp-validation-for="Sadrzaj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumKreiranja" class="control-label"></label>
                <input asp-for="DatumKreiranja" class="form-control" />
                <span asp-validation-for="DatumKreiranja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumSlanja" class="control-label"></label>
                <input asp-for="DatumSlanja" class="form-control" />
                <span asp-validation-for="DatumSlanja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KanalSlanja" class="control-label"></label>
                <select asp-for="KanalSlanja" class="form-control"></select>
                <span asp-validation-for="KanalSlanja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusObavijesti" class="control-label"></label>
                <select asp-for="StatusObavijesti" class="form-control"></select>
                <span asp-validation-for="StatusObavijesti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoditeljId" class="control-label"></label>
                <select asp-for="RoditeljId" class ="form-control" asp-items="ViewBag.RoditeljId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OdgajateljId" class="control-label"></label>
                <select asp-for="OdgajateljId" class ="form-control" asp-items="ViewBag.OdgajateljId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
